.MuiOutlinedInput-notchedOutline
{
    border-color: green !important;
}

.css-101ca9i-MuiTypography-root-MuiLink-root{
    color: black !important;
}
.MuiInputLabel-root{
    color: green !important;
}
.MuiButton-root{
    background-color: green !important;
}

.MuiTypography-root{
    text-decoration-color: black !important;
}